@import '../../utils/scss/colors';
@import '../../utils/scss/font-size';

.button {
  text-align: center;
  display: block;
  margin: 30px auto 5px auto;
  font-weight: bold;
  font-size: $text-size-xxl;
  padding: 8px 20px 8px 20px ;
  background-color: $green1;
  color: $neutral-white;
  border-radius: 5px;
  cursor: pointer;

  &__big {
    font-size: $text-size-xxl;
  }

  &__small {
    font-size: $text-size-xl;
  }

}