@import '../../utils/scss/colors';
@import '../../utils/scss/font-size';

.button {
  text-align: center;
  display: block;
  margin: 30px auto 5px auto;
  font-weight: bold;
  font-size: 25px;
  padding: 8px 5px 8px 10px ;
  background-color: $gray2;
  color: $neutral-black;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em $gray1;
  cursor: pointer;
  width: 480px;

  &:active {
    box-shadow: none;
    position: relative;
    top: .2em;
  }
}