@import '../../utils/scss/colors';
@import '../../utils/scss/media-query';
@import '../../utils/scss/font-size';

.socialMedia {

  &__get-more {
    font-size: $text-size-xl;
    font-weight: bold;
    color: $blue1;
    text-decoration: underline;
    text-transform: capitalize;
    cursor: pointer;
  }


}