@import '../../utils/scss/colors';
@import '../../utils/scss/media-query';
@import '../../utils/scss/font-size';

.boxInfo {
  height: 100px;
  width: 31%;
  border: solid 2px $blue1;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  color: $gray1;
  font-weight: bold;
  background: $neutral-white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &__detail {
    display: flex;
    justify-content: center;

    &-img {
      width: 50px;
      height: 50px;
      margin-top: 10px;
      margin-right: 10px;
    }

    &-text {
      font-size: $text-size-super-xxxl;
      line-height: 75px;
      font-weight: bold;
      color: $light-black;

      &--highlight {
        color: $green1;
      }
    }
  }
}

@include onTabletPortrait {
  .boxInfo {
    width: 98%;
    margin-top: 10px;
  }
}