@import '../../utils/scss/colors';
@import '../../utils/scss/media-query';

.home {
  width: 700px;
  margin: 5% auto;

  &__title {
    margin-bottom: 50px;
  }

}

@include onTablet {
  .home {
    width: 90%;
    margin: 20px;
  }
}

@include onTabletPortrait {
  .home {
    margin: 10px;
  }
}
