@import '../../utils/scss/colors';
@import '../../utils/scss/media-query';

.home {
  width: 700px;
  margin: auto;

  &__title {
    margin-bottom: 0;
  }

  &__img {
    height: 280px;
    display: block;
    margin: auto;
  }

}

@include onTablet {
  .home {
    width: 90%;
    margin: 20px;
  }
}

@include onTabletPortrait {
  .home {
    margin: 10px;
  }
}
