@import './colors';
@import './font-size';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto;
}

h1 {
  text-align: center;
  color: $neutral-black;
  font-weight: bold;
  font-size: $text-size-super-xxl;
}

h2 {
  text-align: center;
  color: $neutral-black;
  font-weight: 500;
  font-size: $text-size-super-xl;
}
