@import './colors.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto;
}

h1 {
  text-align: center;
  color: $neutral-black;
  font-size: 50px;
}

.global {

  &__empty_page {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

}
