
// Vars colors

$neutral-black: #000;
$light-black:#18181a;

$neutral-white:#FFF;
$light-wite:#FAFAFA;
$light-wite2:#F0F0F0;

$red: #FF0000;

$gray1: #6e6e6e;
$gray2: #d3d3d3;
$blue1: #1976D2;
$blue2: #0087C9;
$green1: #00B32C;