@import '../../utils/scss/colors';
@import '../../utils/scss/media-query';
@import '../../utils/scss/font-size';

.boxBig {
  height: 300px;
  width: 48%;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  color: $gray1;
  font-weight: bold;
  overflow-y: auto;
  background: $neutral-white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@include onTablet {
  .boxBig {
    margin-top: 15px;
    width: 98%;
  }
}