@import '../../utils/scss/colors';
@import '../../utils/scss/media-query';
@import '../../utils/scss/font-size';

.boxBig {
  height: 300px;
  width: 48%;
  border: solid 2px $blue1;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  color: $gray1;
  font-weight: bold;
  overflow-y: auto;
}

@include onTablet {
  .boxBig {
    margin-top: 15px;
    width: 98%;
  }
}